body {
  margin: 0;
}
header {
  background-color: #4ea0ff;
  height: 165px;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: 35%;
  background-position-y: 10%;
}
.logo {
  max-width: 18%;
  margin-top: 70px;
  margin-left: 190px;
}
main {
  margin: auto;
  width: 70%;
}
.title {
  text-align: left;
  font-size: 50px;
  margin-bottom: 0;
  padding-left: 0;
}
.author {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: #808080;
}
span {
  color: #1fa9e5;
}
.time {
  color: #808080;
  font-size: 14px;
  margin-bottom: 20px;
}
ul {
  padding-left: 20px;
}
thead {
  background-color: #1fa9e5;
}
th {
  color: white;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.table {
  background-color: #b1e4f2;
}
.info {
  font-size: 20px;
  color: #818181;
  margin-bottom: 10px;
}
footer {
  margin: auto;
  width: 70%;
}
.monitor {
  width: 200px;
  height: 200px;
  background-image: url(../img/monitor.jpg);
}
.graphic {
  width: 200px;
  height: 200px;
  background-image: url(../img/graph.jpg);
  margin-top: 10px;
  margin-bottom: 20px;
}
.text-image {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 16px;
}