body {
  margin: 0;
}
header {
  background-color: #4ea0ff;
  height: 165px;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: 35%;
  background-position-y: 10%;
}
.logo {
  max-width: 18%;
  margin-top: 70px;
  margin-left: 190px;
}
main {
  margin: auto;
  width: 70%;
}
.title {
  text-align: left;
  font-size: 50px;
  margin-bottom: 0;
  padding-left: 0;
}
.author {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: #808080;
}
span {
  color: #1fa9e5;
}
.time {
  color: #808080;
  font-size: 14px;
  margin-bottom: 20px;
}